nav {
    width: 100%;
    padding: 1% 0;
    display: flex;
    justify-content: baseline;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 0.5px solid @shadow-color;
    a {
        margin: 0 2%;
        text-decoration: none;
        font-size: @nav-text;
        font-weight: bolder;
        color: inherit;
    }
}