.post {
    padding: 0 2%;
    h2 {
        margin-bottom: 0;
    }
    time {
        color: grey;
    }
    img {
        max-width: 100%;
    }
    a {
        .link-mixin();
    }
    p {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}