.post {
    padding: 0 2% 2%;
    margin-bottom: 3%;
    border-bottom: dashed 0.7px @shadow-color;
    h2 {
        margin-bottom: 0;
    }
    time {
        color: grey;
    }
    img {
        max-width: 100%;
    }
    a {
        .link-mixin();
    }
    p {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}