// Font imports

@import url('https://fonts.googleapis.com/css?family=Palanquin|Palanquin+Dark&display=swap');

// Font family variables

@Palanquin: 'Palanquin', sans-serif;
@Palanquin-Dark: 'Palanquin Dark', sans-serif;

// Font size variables

@nav-text: 1.2rem;

// Media queries

@mobile: ~"( max-width: 500px )";
@tablet: ~"( max-width: 800px )";